.icon-cogs { background-image: url('png/cogs.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-icon { background-image: url('png/icon.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-pc-phone { background-image: url('png/pc-phone.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-tools { background-image: url('png/tools.png'); background-repeat: no-repeat; }

